<a href="https://colab.research.google.com/github/guilhermelaviola/MovieRecommendation/blob/main/MovieRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing all the necessary libraries:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import sigmoid_kernel

In [3]:
# Importing the 'credits' and 'movies' datasets:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

In [11]:
# Displaying credits table shape and dataset:
print('Credits dataframe: ', credits.shape)
print(credits.head(10))

Credits dataframe:  (1154, 4)
   movie_id                                     title  \
0     19995                                    Avatar
1       285  Pirates of the Caribbean: At World's End
2    206647                                   Spectre
3     49026                     The Dark Knight Rises
4     49529                               John Carter
5       559                              Spider-Man 3
6     38757                                   Tangled
7     99861                   Avengers: Age of Ultron
8       767    Harry Potter and the Half-Blood Prince
9    209112        Batman v Superman: Dawn of Justice

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...
5  [{"cast_id": 30, "character": "Peter Parker / ...
6  [{"cast_id": 34, "character": "Flynn Rider (vo...
7  [{"cast_id": 76, "character": "Tony Stark / Ir...
8  [{"cast_id": 3, "character": "Harry Potter", "...
9  [{"cast_id": 18, "character": "Bruce Wayne / B...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
5  [{"credit_id": "52fe4252c3a36847f80151a5", "de...
6  [{"credit_id": "52fe46db9251416c91062101", "de...
7  [{"credit_id": "55d5f7d4c3a3683e7e0016eb", "de...
8  [{"credit_id": "52fe4273c3a36847f801fab1", "de...
9  [{"credit_id": "553bf23692514135c8002886", "de...

In [12]:
# Displaying movies table shape and dataset:
print('Movies dataframe: ', movies.shape)
print(movies.head(10))

Movies dataframe:  (4803, 20)
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
5  258000000  [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
6  260000000  [{"id": 16, "name": "Animation"}, {"id": 10751...
7  280000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
8  250000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
9  250000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                            homepage      id  \
0                        http://www.avatarmovie.com/   19995
1       http://disney.go.com/disneypictures/pirates/     285
2        http://www.sonypictures.com/movies/spectre/  206647
3                 http://www.thedarkknightrises.com/   49026
4               http://movies.disney.com/john-carter   49529
5    http://www.sonypictures.com/movies/spider-man3/     559
6       http://disney.go.com/disneypictures/tangled/   38757
7  http://marvel.com/movies/movie/193/avengers_ag...   99861
8  http://harrypotter.warnerbros.com/harrypottera...     767
9       http://www.batmanvsupermandawnofjustice.com/  209112

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en
5  [{"id": 851, "name": "dual identity"}, {"id": ...                en
6  [{"id": 1562, "name": "hostage"}, {"id": 2343,...                en
7  [{"id": 8828, "name": "marvel comic"}, {"id": ...                en
8  [{"id": 616, "name": "witch"}, {"id": 2343, "n...                en
9  [{"id": 849, "name": "dc comics"}, {"id": 7002...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter
5                              Spider-Man 3
6                                   Tangled
7                   Avengers: Age of Ultron
8    Harry Potter and the Half-Blood Prince
9        Batman v Superman: Dawn of Justice

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995
5  The seemingly invincible Spider-Man goes up ag...  115.699814
6  When the kingdom's most wanted-and most charmi...   48.681969
7  When Tony Stark tries to jumpstart a dormant p...  134.279229
8  As Harry begins his sixth year at Hogwarts, he...   98.885637
9  Fearing the actions of a god-like Super Hero l...  155.790452

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]
5  [{"name": "Columbia Pictures", "id": 5}, {"nam...
6  [{"name": "Walt Disney Pictures", "id": 2}, {"...
7  [{"name": "Marvel Studios", "id": 420}, {"name...
8  [{"name": "Warner Bros.", "id": 6194}, {"name"...
9  [{"name": "DC Comics", "id": 429}, {"name": "A...

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100
5  [{"iso_3166_1": "US", "name": "United States o...   2007-05-01   890871626
6  [{"iso_3166_1": "US", "name": "United States o...   2010-11-24   591794936
7  [{"iso_3166_1": "US", "name": "United States o...   2015-04-22  1405403694
8  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2009-07-07   933959197
9  [{"iso_3166_1": "US", "name": "United States o...   2016-03-23   873260194

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released
5    139.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
6    100.0           [{"iso_639_1": "en", "name": "English"}]  Released
7    141.0           [{"iso_639_1": "en", "name": "English"}]  Released
8    153.0           [{"iso_639_1": "en", "name": "English"}]  Released
9    151.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.
5                              The battle within.
6        They're taking adventure to new lengths.
7                             A New Age Has Come.
8                           Dark Secrets Revealed
9                              Justice or revenge

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124
5                              Spider-Man 3           5.9        3576
6                                   Tangled           7.4        3330
7                   Avengers: Age of Ultron           7.3        6767
8    Harry Potter and the Half-Blood Prince           7.4        5293
9        Batman v Superman: Dawn of Justice           5.7        7004

In [22]:
# Creating a 'credits_column_renamed' table based on the 'credits' table, with the column
# 'movie_id' renamed as 'id':
credits_column_renamed = credits.rename(index = str, columns = {'movie_id' : 'id'})

In [29]:
# Merging 'movies' and 'credits_column_renamed' datasets and
# displaying their shape and first 10 entries:
movies_merge = movies.merge(credits_column_renamed, on = 'id')
print('movies_merge dataframe:', movies_merge.shape)
print(movies_merge.head())

movies_merge dataframe: (1154, 23)
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ... runtime  \
0  [{"name": "Ingenious Film Partners", "id": 289...  ...   162.0
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...   169.0
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...   148.0
3  [{"name": "Legendary Pictures", "id": 923}, {"...  ...   165.0
4        [{"name": "Walt Disney Pictures", "id": 2}]  ...   132.0

                                    spoken_languages    status  \
0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1           [{"iso_639_1": "en", "name": "English"}]  Released
2  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3           [{"iso_639_1": "en", "name": "English"}]  Released
4           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                    title_x vote_average vote_count  \
0                                    Avatar          7.2      11800
1  Pirates of the Caribbean: At World's End          6.9       4500
2                                   Spectre          6.3       4466
3                     The Dark Knight Rises          7.6       9106
4                               John Carter          6.1       2124

                                    title_y  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [30]:
movies_cleaned = movies_merge.drop(columns = ['homepage',
                                              'title_x',
                                              'title_y',
                                              'status',
                                              'production_countries'])
print(movies_cleaned.head())
print(movies_cleaned.info())
print(movies_cleaned.head(1)['overview'])

      budget                                             genres      id  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...   19995
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...     285
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  206647
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...   49026
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies release_date     revenue  \
0  [{"name": "Ingenious Film Partners", "id": 289...   2009-12-10  2787965087
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...   2007-05-19   961000000
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...   2015-10-26   880674609
3  [{"name": "Legendary Pictures", "id": 923}, {"...   2012-07-16  1084939099
4        [{"name": "Walt Disney Pictures", "id": 2}]   2012-03-07   284139100

   runtime                                   spoken_languages  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
1    169.0           [{"iso_639_1": "en", "name": "English"}]
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...
3    165.0           [{"iso_639_1": "en", "name": "English"}]
4    132.0           [{"iso_639_1": "en", "name": "English"}]

                                          tagline  vote_average  vote_count  \
0                     Enter the World of Pandora.           7.2       11800
1  At the end of the world, the adventure begins.           6.9        4500
2                           A Plan No One Escapes           6.3        4466
3                                 The Legend Ends           7.6        9106
4            Lost in our world, found in another.           6.1        2124

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1154 entries, 0 to 1153
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                1154 non-null   int64
 1   genres                1154 non-null   object
 2   id                    1154 non-null   int64
 3   keywords              1154 non-null   object
 4   original_language     1154 non-null   object
 5   original_title        1154 non-null   object
 6   overview              1154 non-null   object
 7   popularity            1154 non-null   float64
 8   production_companies  1154 non-null   object
 9   release_date          1154 non-null   object
 10  revenue               1154 non-null   int64
 11  runtime               1154 non-null   float64
 12  spoken_languages      1154 non-null   object
 13  tagline               1109 non-null   object
 14  vote_average          1154 non-null   float64
 15  vote_count            1154 non-null   int64
 16  cast                  1154 non-null   object
 17  crew                  1154 non-null   object
dtypes: float64(3), int64(4), object(11)
memory usage: 171.3+ KB
None
0    In the 22nd century, a paraplegic Marine is di...
Name: overview, dtype: object

In [33]:
tfv = TfidfVectorizer(min_df = 3,
                      max_features = None,
                      strip_accents = 'unicode',
                      analyzer = 'word',
                      token_pattern = r'\w{1,}',
                      ngram_range = (1, 3),
                      stop_words = 'english')

In [34]:
# Fitting the TF_IDF on the 'overview' text:
tfv_matrix = tfv.fit_transform(movies_cleaned['overview'])
print(tfv_matrix)
print(tfv_matrix.shape)

  (0, 23)	0.3055248847504639
  (0, 502)	0.2869398510888036
  (0, 103)	0.21633149942688157
  (0, 2076)	0.279874149216392
  (0, 1898)	0.2869398510888036
  (0, 1057)	0.24810282432163674
  (0, 2766)	0.25915680863305984
  (0, 1743)	0.18295171711647473
  (0, 2864)	0.25915680863305984
  (0, 1760)	0.279874149216392
  (0, 771)	0.2869398510888036
  (0, 1670)	0.2737535598557087
  (0, 439)	0.24198223496095347
  (0, 22)	0.3055248847504639
  (1, 848)	0.4135338272151473
  (1, 828)	0.25219555187214754
  (1, 1233)	0.4135338272151473
  (1, 1568)	0.1987330147207551
  (1, 540)	0.2951725221227923
  (1, 688)	0.32195702092930417
  (1, 275)	0.4135338272151473
  (1, 1600)	0.30721644753756894
  (1, 398)	0.3141764264592021
  (2, 2374)	0.23511634966680003
  (2, 321)	0.24196397274578993
  :	:
  (1152, 2411)	0.21647363600781597
  (1152, 955)	0.19013751732895173
  (1152, 1232)	0.1596658687695317
  (1152, 203)	0.14894079762998041
  (1152, 780)	0.21647363600781597
  (1152, 975)	0.11959145944772114
  (1152, 2409)	0.12694130192210595
  (1152, 1931)	0.16762657120300656
  (1152, 2753)	0.11798735906987948
  (1152, 1033)	0.11721407419618916
  (1152, 954)	0.2884516084008184
  (1152, 225)	0.19829931285286057
  (1152, 2723)	0.3020735568321118
  (1152, 816)	0.1939626898818708
  (1152, 329)	0.21647363600781597
  (1153, 918)	0.3951687096426774
  (1153, 2794)	0.3711306553390406
  (1153, 2830)	0.29410248619758433
  (1153, 2956)	0.3093879201511487
  (1153, 49)	0.3129820591343042
  (1153, 1315)	0.24909883381578252
  (1153, 3027)	0.24909883381578252
  (1153, 692)	0.32089848598080917
  (1153, 428)	0.3351958114517709
  (1153, 675)	0.29410248619758433
(1154, 3093)

In [35]:
# Computing the Sigmoid Kernel
sigmoid = sigmoid_kernel(tfv_matrix, tfv_matrix)
print(sigmoid[0])

[0.7617299  0.76159416 0.76159416 ... 0.76159416 0.76159416 0.76159416]

In [45]:
# Reverse mapping of indexes and movie titles:
indexes = pd.Series(movies_cleaned.index,
                    index = movies_cleaned['original_title']).drop_duplicates()
print(indexes)
# print(indexes['Newlyweds'])
# print(sigmoid[4799])
print(list(enumerate(sigmoid[indexes['Newlyweds']])))
print(sorted(list(enumerate(sigmoid[indexes['Newlyweds']])),
             key = lambda x : x[1], reverse = True))

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
American Hustle                             1149
The Proposal                                1150
Double Jeopardy                             1151
Back to the Future Part II                  1152
Lucy                                        1153
Length: 1154, dtype: int64

KeyError: ignored

In [43]:
def give_recommendations(title, sigmoid = sigmoid):
  # Getting the index corresponding to original_title:
  index = indexes[title]

  # Getting the pairwise similarity scores:
  sigmoid_scores = list(enumerate(sigmoid[index]))

  # Sorting the movies:
  sigmoid_scores = sorted(sigmoid_scores, key = lambda x : x[1], reverse = True)

  # Scores of the 10 most similar movies:
  sigmoid_scores = sigmoid_scores[1:11]

  # Movie indexes:
  movie_indexes = [i[0] for i in sigmoid_scores]

  # Top 10 most similar movies:
  return movies_cleaned['original_title'].iloc[movie_indexes]